*{
  padding: 0;
  margin: 0;
}

  .menu {
    margin-left: 30px;
    margin-top: 20px;
  }

  .menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
  }
  
  .menu .menu-faketrigger:checked ~ ul {
background-color: rgb(255, 255, 255);
  }

  .menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }

  .menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(232, 165, 245);
    border-radius: 3px;
    transition: all ease .2s;
  }

  .menu .menu-faketrigger:checked~.menu-lines span {
    background-color: rgb(232, 165, 245);
  }

  .menu .menu-faketrigger:checked~.menu-lines span:nth-child(1) {
 transform-origin: 0% 100%;
 transform: rotate(45deg) scaleX(1.25);
  }

  .menu .menu-faketrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
  }

  .menu .menu-faketrigger:checked~.menu-lines span:nth-child(3) {
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
 
  }

  .menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 250px; 
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: #ededed;
    margin-left:-250px;
    transition: all ease .2s;
  }

  .menu .menu-faketrigger:checked~ul {
  margin-left: 0;
  }

  .icon {
    position: absolute;
    max-width: 45px;
    max-height: 45px;
    background-image: url(IMAGENS/logo2.jpg);
    margin-left: 75px;
    margin-top: 10px;
  }
  
  
  ul {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-size: cover;
    
  }
  
  
  li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 100%;
  }
  
  li a:hover {
    background-color: rgb(234, 182, 245);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    color: #fff;
  }
  
 

  .footer {
  display: grid;
  align-self: end;
  margin-bottom: 0px;
  background-color: white;
  min-width: 100%;
  min-height: 100px;
  align-items: center;
  justify-items: center;
  color: #ccc;
  }
  
  

  @media screen and (max-width: 768px){


    .h1 {
      font-size: 15px;
      }

    .item1 {
    font-size: 15px;
    align-items: center;
    height: 50%;
    padding: 20px;
    margin-top: 30px;
        
    }

    .item2 {
    width: 100%;
    max-height:400px;
    background-position: 75%;   
    }

    .box {
    display: block;
    width: 50%;
    text-align: left;
    padding: 15px;
    }

    .grid {
      display: block;
      text-align: center;
      margin-top: 50px;
      margin-left: 20px;
    }

    .box5 {
      align-items: center;
      display: grid;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 75%;
      text-align: center;
    }

    .textarea {
    margin: 0;
    width: 100px;
    text-align: center;
    }

    .footer{
    text-align: center;
    font-size: 12px;
    }
    }

    