/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr 1fr;
  border: 0px solid black;
  min-height: 800px;
  background-repeat: no-repeat;
 margin-top: 50px;
 margin-left: 30px;
}


/* Estilos Gerais */
.item {
border: 1px solid  rgb(234, 182, 245);
  background: rgb(255, 255, 254);
  text-align: center;
  background-repeat: no-repeat;
  max-width: 300px;
  max-height: 300px;
  background-size: cover;
  margin-top: 15px;
margin-left: 20px;
}

.description {
font-family:'Courier New', Courier, monospace;
font-size: 12px;
margin-top: 15px;
margin-left: 15px;
background-color: rgb(234, 182, 245);
max-width: 300px;
max-height: 50px;
border-radius: 15px;
text-align: center;
line-height: 50px;
}


/* Imagens */

.imagem1 {
  background-image: url(IMAGENS/fanart_fade.png);
}

.imagem2 {
  background-image: url(IMAGENS/logo.jpg);
}

.imagem3 {
  background-image: url(IMAGENS/comission_gui.jpg);
}

.imagem4 {
  background-image: url(IMAGENS/estilo_2.jpg);
}

.imagem5 {
  background-image: url(IMAGENS/estilo_1_busto.png);
}

.imagem6 {
  background-image: url(IMAGENS/light_study.jpg);
}

.imagem7 {
  background-image: url(IMAGENS/estilo_1_corpo_inteiro.jpg);
}

.imagem8 {
  background-image: url(IMAGENS/cactus.jpg);
}

.imagem9 {
  background-image: url(IMAGENS/estampa.jpg);
}

.imagem10 {
  background-image: url(IMAGENS/pattern.jpg);
}